<!DOCTYPE html>
<html land="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>Laptop Finder</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand title-font" href="index.html">Laptop Finder</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link nav-font" href="index.html"
              >Home</a
            >
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="../data page/index.html">Data Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../comparisons page/index.html"
              >Comparison Charts</a
            >
          </li>-->
          <li class="nav-item dropdown active">
            <a
              class="nav-link dropdown-toggle nav-font"
              id="navbarDropdownMenu"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false" 
            >
            Discover
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item nav-font" href="data.html"
                >Data Table</a
              >
              <a class="dropdown-item nav-font" href="chart.html"
                >Comparison Charts<span class="sr-only">(current)</span></a
              >
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="map.html"
              >Location Finder</a
            >
          </li>
        </ul>
      </div>
    </div>
    </nav>
    <body>
            <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="header">
                                        <h1 style="text-align:center">Comparison: Best Buy vs. Fry's Electronics</h1>
                                      </div>
                                      <div class="content">
                                        <div class="row">
                                               <div id="thischart" class="col-xs-12 col-sm-12 col-md-6">
                                                  <!-- <a href="../comparisoncharts/index.html"><img class="img-fluid" src="../Resources/assets/images/Fig2.png" alt="Comparison Charts" height="500" width="500"></a> -->
                                               </div> 
                                          </div>
                                      </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="page-footer font-small blue">
              <div class="footer-copyright text-center py-3">© 2019 Copyright:
              <a href="https://github.com/gdoshi88">github.com/gdoshi88</a>
              </div>
              </footer>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
              <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
      <!-- <script type="text/javascript">
        var username = myFunc({{ data|tojson }})
    </script> -->
​
    </body>
Collapse




</html>
